/* Location section */

.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-body {
  padding: 80px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-map-image {
  height: auto;
}

.location-title:not(:last-child) {
  margin-bottom: 14px;
}

.location-description {
  max-width: 490px;
  text-align: center;
}
.location-description:not(:last-child) {
  margin-bottom: 37px;
}

@media (max-width: 1024px) {
  .location {
    display: flex;
    flex-direction: column-reverse;
  }
  .location-body {
    padding: 20px 15px;
  }
}
